<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>superScreen.VerifyContries</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cpqLines</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>repSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createOppurtunity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createQuote</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
