<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0b365">  <td>21/10/22 20:25:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyContries.repSearch()[pri:1, instance:superScreen.VerifyContries@2a266d09]">repSearch</td> 
  <td>main@1229202732</td>   <td></td> </tr>
<tr bgcolor="b0b365">  <td>21/10/22 20:34:42</td>   <td>564886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyContries.createQuote()[pri:4, instance:superScreen.VerifyContries@2a266d09]">createQuote</td> 
  <td>main@1229202732</td>   <td></td> </tr>
<tr bgcolor="b0b365">  <td>21/10/22 20:34:44</td>   <td>566921</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyContries.tearDown()[pri:0, instance:superScreen.VerifyContries@2a266d09]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1229202732</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>21/10/22 20:34:44</td>   <td>567462</td> <td>&nbsp;</td><td title="&lt;&lt;InitialiseBrowser.driverclose()[pri:0, instance:superScreen.VerifyContries@2a266d09]">&lt;&lt;driverclose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1229202732</td>   <td></td> </tr>
</table>
