<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc82a1">  <td>21/10/27 23:18:16</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;InitialiseBrowser.driverclose()[pri:0, instance:superScreen.VerifyContries@5ab9e72c]">&lt;&lt;driverclose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@79070199</td>   <td></td> </tr>
<tr bgcolor="b0b365">  <td>21/10/27 22:24:06</td>   <td>-3249832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyContries.gotoQuotes()[pri:2, instance:superScreen.VerifyContries@5ab9e72c]">gotoQuotes</td> 
  <td>TestNG-tests-1@79070199</td>   <td></td> </tr>
<tr bgcolor="b0b365">  <td>21/10/27 22:23:09</td>   <td>-3306738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyContries.repSearch()[pri:1, instance:superScreen.VerifyContries@5ab9e72c]">repSearch</td> 
  <td>TestNG-tests-1@79070199</td>   <td></td> </tr>
<tr bgcolor="b0b365">  <td>21/10/27 23:18:15</td>   <td>-531</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyContries.tearDown()[pri:0, instance:superScreen.VerifyContries@5ab9e72c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@79070199</td>   <td></td> </tr>
</table>
